@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Open+Sans:300,400,600,700');
html {
    scroll-behavior: smooth;
}

body {
    overflow-X: hidden; 
    font-family: 'Montserrat', sans-serif;  
    /* overflow: scroll; */
}

/* scrollbar */
body::-webkit-scrollbar {
      width: 1em;
  }
body::-webkit-scrollbar-track {
  background-color:#111;
  }
body::-webkit-scrollbar-thumb {
    background-color: rgb(141, 195, 66);
}
  


ul {
    list-style: none;
}

.bd-top-dark {
    border-top: 1px solid #333;
}

.bg-dark {
    background-color: #111 !important;
}

.bd-bottom {
    border-bottom: 1px solid #eaeaea;
}
h2{
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    position: relative;
    color: #fff;
}
h2:after{
    background-color: #8DC342;
    content: '';
    height: 2px;
    width: 80px;
    position: absolute;
    left: 0;
    bottom: -8px;
}

/* Preloader Styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #fff;
    height: 100%;
    width: 100%;
    -webkit-transition: all .5s .5s ease;
    -moz-transition: all .5s .5s ease;
    transition: all .5s .2s ease;
}

.loader {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: -30px;
}

body.loaded #preloader {
    opacity: 0;
    visibility: hidden;
}


/* header */
#header {
    width: 100%;
    z-index: 999;
    position:sticky;
    left: 0;
    top: 0;
}
.header-top {
    background-color: #212121;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.header-top ul {
    margin-bottom: 0rem;
}
.header-top li {
    color: #ddd;
    letter-spacing: 1px;
    margin-top: 1rem;
}

.header-top li a {
    color: #ddd;
    letter-spacing: 1px;
}

.header-top .list-inline-item:not(:last-child) {
    margin-right: 6.5rem;
}

.header-top li i {
    color: #ddd;
    padding: 0rem 0.78rem;
}


.header-bottom {
    background-color: #fff;
}

.header-bottom .logo-name {
    color: #8DC342;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    font-size: 1.8rem;
    font-weight: 800;
}

.header-bottom .logo-name span {
    color: #2F4392;
    letter-spacing: -0.04em;
    font-size: 1.99rem;
    font-weight: 800;
}

.cta-btn a {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
}

.cta-btn {
    padding: 8px 30px;
    background-color: #8DC342;
    border-radius: 0 !important;
}

.cta-btn:hover {
    background-color: #ffc326;
    color: #fff;
}


/* hero section */
.hero-section {
    background-image: url(../image/slider.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    margin: auto 0px;
    height: auto;
}
.hero-content {
    position: relative;
     background-color: rgba(0,0,0,0.8);
    
}
.hero-content .main-h2{
    font-size: 24px !important;
    margin-bottom:3rem;
}

.hero-content .sub-h2 {
    font-size: 18px;
    margin-bottom: 2rem;
    color: #fff;
}
.hero-content .small-text , .courses .small-text {
    font-size: 11pt;
    font-weight: 400;
    font-style: italic;
    line-height: 1.35;
    letter-spacing: 1px;
    color: #ffffff9e;
    font-family: Calibri;
}

.f2f{
    position: absolute;
    top: 2%;
    right: 2%;
}
.img-p{
    color: #fff;    
    font-size: 12px;
    line-height: 17px;
    width: 20%;
    margin: auto;
}

.form-col {
    background-color: rgba(0,0,0,0.7);
}
.form-col .main-h2{
    font-size: 24px !important;
}
.form-p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
}
.send-btn{
        background-color: #8DC342;
        padding: 10px 30px;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-weight: 600;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        overflow: hidden;
        border-radius: 0px;
        cursor: pointer;
}
.send-btn:focus, .send-btn:hover {
    color: #111;
    text-decoration: none;

}
.cf-wrapper .form-control {
    background: none;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    color: #8b8b8b;
    padding: 10px;
}
/* courses details section */
/* courses section */
.courses {
    background-color: #111;
}
.courses .main-h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.courses .sub-h2 {
    font-size: 18px;
}
.headul {
    list-style-type: disc;
}
.headul li {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.small-text-p, .small-li {
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 1px;
    color: #fff;
    font: 12pt Calibri Italic;
}


/* services section */
.services-section {
    padding: 85px 0px;
}

.services-section i {
    font-size: 60px !important;
}
.services-section h4 {
    font-weight: 700;
    font-size: 1rem;
    width: 90%;
    margin-top: 0.6rem;
    text-transform: uppercase;
    margin-left: 1rem;
}


/* why choose us */
.whyus-p{
    color: #fff;
opacity: 0.6;
letter-spacing: 1px;
line-height: 30px;
}
.whyus-img{
    min-height: 100%;
}


/*  parallex section  */
.parallex-section {
    background-image: url(../image/about2.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 200px;
}
#titleback {
    padding: 0px 120px;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    margin-bottom:20px ;
    font-weight: 500;
   
}

/* aboutus */
.aboutus-h2{
    font-size: 24px;
}
.aboutus-p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    opacity: 0.6;
}


.courses-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .courses-counter li {
    counter-increment: step-counter;
    margin-bottom: 10px;
  }
  
  .courses-counter li::before {
    content: counter(step-counter);
    margin-right: 5px;
    background-color: #111;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50%;
    border: 2px solid #8DC342;
  position: absolute;
  }
  
.counter{
    padding-left:4rem;
    padding: 1rem 0rem 1rem 4rem;
}
.counter h4 {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    line-height: 1.2;
    /* margin: 0 0 10px; */
}
.counter p {
    color: #fff;
    opacity: 0.6;
    font-size: 13px;
}
/* footer */
.footer-h5{
        margin-bottom: 25px;
        color: #fff;
        opacity: 0.6;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
}
.footer-p{
        font-size: 13px;
        line-height: 25px;

        margin-bottom: 25px;
    
        color: #fff;
        opacity: 0.6;
 
        margin: 0 0 10px;

}
.footer-up{
    padding: 80px;
}
.footer-up ul {
    list-style-type: disc;
    padding-left: 1rem;
    font-size: 15px;
}
.footer-up ul li , .footer-up ul li a , .footer-up ul li img {
    opacity: 0.6;
    letter-spacing: 1px;
    color:#fff;
    margin-bottom: 13px;
}
.contact-us{
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;

}
.footer-bottom-p{ 
    font-size: 13px;
    line-height: 25px;
    margin: 0 !important;
    opacity: 0.6;
    letter-spacing: 1px;
    color:#fff;
    text-transform: lowercase;
}
/* scroll to top */
.scroll-to-top {
    display: block;
    text-align: center;
    background-color: #8DC342;
    font-size: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 3px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999; 
    transition: transform 0.3s ease-in-out;
    opacity: 0;
}
body.scrolled #scroll-top{
    opacity:1;
}
.scroll-to-top:hover {
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    text-decoration: none;
}


/* responsivness */

@media (min-width: 575.98px) {
    /* greater that 575 */
}

@media (max-width: 454.98px) {
    .cta-btn a {
        font-size: 11px !important;
    }
    .cta-btn img {
        width:17px;
    }
    
}
@media (max-width: 575.98px) {
    
}
@media (max-width: 767.98px) { 
    .header-top{
        display: none;
    }
    .logo-name{
        display: none;
    }
    .hero-content img {
        width: 95px !important;
    }
    #titleback {
        padding: 0px 0px;
    }
.parallex-section {
    
    padding-top: 100px;
    padding-bottom: 100px;

}
}


@media (max-width: 991.98px) {
    .logo-name , .logo-name span {
        font-size: 1rem !important;
    } 
.cta-btn a {
    font-size: 16px;
}
.form-col {
    margin-top: 2rem;
}
.whyus-img {
    min-width: 100%;
    min-height: 100%;
}
}

@media (max-width: 1199.98px) { 
    
}
@media (max-width: 1060.98px) { 
   .hero-content img {
       width: 125px;
   } 
}

@media (min-width: 1199.98px) { 
.whyus-img {
    min-width: 100%;
}
}
